{% extends "base.html" %}

{% block title %}My Events • ResourceFinderOmaha{% endblock %}

{% block content %}

{% if is_org %}
<div style="display: flex; justify-content: center;">
    <a class="register-button" href="{% url 'addEvent' %}">New Event</a>
</div>
{% endif %}

<div>
    {% if registrations %}
    {% for reg in registrations %}
        {% if is_org %}
            <div class="search-card two-columns">
                <a href="{% url 'viewEvent' reg.event.id %}">{{reg.event.title}}</a>
            </div>
        {% else %}
            <div class="search-card two-columns">
                <div>
                    <a href="{% url 'eventDetail' reg.event.id %}">{{reg.event.title}}</a>
        {% endif %}
                    <p>{{reg.event.org.name}}</p>
                </div>
                
                <div>
                    
                    <p style="text-align: right;">{{reg.event.start_at}} - {{reg.event.end_at}}</p>
                    <p style="text-align: right;">
                        {% if reg.event.is_free %}
                            Free event
                        {% else %}
                            Paid event
                        {% endif %}
                </p>
                 <form method="post" action="{% url 'deleteRegistration' reg.id %}" style="text-align: right;">
                {% csrf_token %}
                <button class="register-button" type="submit" name="action" value="unregister">Unregister</button>
                </form>       
            </div>
            
            </div>
        

    {% endfor %}
    {% else %}
        {% if is_org %}
        <div class="search-card"><p>You haven't created any events.</p></div>
        {% else %}
        <div class="search-card"><p>You haven't registered for any events.</p></div>
        {% endif %}
    {% endif %}
</div>

{% endblock %}